<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/hello.css">
</head>
<body>
	<div class="container-fluid centered">
		<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
			<tbody>
				<tr>
					<!-- //khung chua toan bo noi dung  -->
                	<td align="center" valign="top" style="height:100%;margin:0; width:100%;border-top:0">
                    	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0;max-width:600px!important">
                        <tbody>

                        	<!-- //table row dau chua thanh khoang cach -->
	                        <tr>
	                        	<!-- //tao thanh tren top -->
	                            <td valign="top" style="background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px">
	                            </td>
	                        </tr>

	                        <!-- //noi chua hinh anh emddi -->
	                        <tr>
	                        	<!-- //khung chua tong   -->
	                            <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:0">
	                            	<!-- //chua hinh anh 1 emddi -->
	                            	<table border="0" cellpadding="0" cellspacing="0" width="100%"  style="border-collapse:collapse">
	                                <tbody>
	                                    <tr>
	                                        <td valign="top">
	                                            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#fafafa" style="border-collapse:collapse">
	                                                <tbody>
	                                                	<!-- //cach tren -->
	                                                <tr>
	                                                  <td height="15" align="left"></td>
	                                              	</tr>
	                                              	
	                                              	<tr>
	                                                  <td align="left" style="text-align:center">

	                                                      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
	                                                          <tbody>
	                                                         	<tr>
		                                                            <td width="45px" align="left" ></td>
		                                                            <td align="left" valign="top">
		                                                                <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
		                                                                    <tbody>
		                                                                    <tr>
		                                                                      <td align="left" valign="middle">
		                                                                          <a href="https://www.emddi.com"><img src="https://www.emddi.com/wp-content/themes/grab/img/Image-1.png"></a>
		                                                                      </td>

		                                                                      <td width="200" align="right" valign="top" style="font-family:Arial,'Helvetica',sans-serif;font-weight:normal;font-size:11px;line-height:16px;color:#009d3b;padding-top:10px"></td>
		                                                                      <td width="45px" align="left"></td>
	                                                                  		</tr>
	                                                              			</tbody>
	                                                          			</table>
	                                                          		</td>
	                                                         	</tr>
	                                                      		</tbody>
	                                                      	</table>
	                                                  </td>
	                                              	</tr>
	                                              	</tbody>
	                                            </table>

	                                          	<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#fafafa" style="border-collapse:collapse">
		                                            <tbody>
		                                            <tr>
		                                              <td height="15"></td>
		                                          	</tr>
		                                			</tbody>
		                                  		</table>
	                                  		</td>
	                              		</tr>
	                          		</tbody>
	                      		</table>

	                      		<table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;border-collapse:collapse">
			                        <tbody>
			                            <tr>
			                                <td valign="top" style="padding:0px">
			                                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
			                                        <tbody>
			                                        <tr>
			                                            <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">

			                                                <a href="https://www.emddi.com">
			                                                    <img align="center" alt="" src="https://www.emddi.com/wp-content/themes/grab/img/Image-1.png" width="600" style="width: 100%;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none">
			                                                </a>

			                                            </td>
			                                        </tr>
			                                    	</tbody>
			                                    </table>
			                                </td>
			                            </tr>
			                        </tbody>
	                    		</table>	
	                		</tr>

			                <!-- //table row chua thong tin emddi -->
				            <tr>
				                    <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">

				                        <tbody>
				                            <tr>
				                                <td valign="top">
				                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
				                                        <tbody><tr>

				                                            <td style="padding-top:9px;padding-left:18px;padding-bottom:9px;padding-right:18px">

				                                                <table border="0" cellpadding="18" cellspacing="0" width="100%" style="min-width:100%!important;border-collapse:collapse">
				                                                    <tbody><tr>
				                                                    	<!-- //cam on da chon emddi -->
				                                                        <td valign="top" style="color:#666666;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;font-style:normal;font-weight:normal;line-height:150%;text-align:left;word-break:break-word">
				                                                            <div style="text-align:left">
				                                                            	<span style="color:rgb(221, 172, 87)"><span style="font-size:18px"><strong>Cảm ơn vì đã lựa chọn Emddi.</strong></span></span><br>
				                                                                <br>
				                                                                Có thể hơi khó tin, nhưng sự thật bạn vừa đăng nhập vào mạng lưới xe hơi riêng, xe máy 2 bánh và taxi lớn nhất khu vực! Từ giờ trở đi, việc đặt xe sẽ trở nên dễ dàng hơn bao giờ hết. Bạn cũng có thể thoải mái lựa chọn các loại hình di chuyển đáp ứng mọi nhu cầu của bạn mỗi ngày.<br>
				                                                                <br>
				                                                            Đặt xe đi nào! Thắt dây an toàn! Và khởi hành thôi!</div>

				                                                        </td>
				                                                    </tr>
				                                                </tbody></table>
				                                            </td>
				                                        </tr>
				                                    </tbody></table>



				                                </td>
				                            </tr>
				                        </tbody>
				                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
				                        <tbody>
				                            <tr>
				                                <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
				                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border-radius:0px;background-color:rgb(221, 172, 87)">
				                                        <tbody>
				                                            <tr>
				                                                <td align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:14px">
				                                                    <a title="Đặt Xe Ngay" href="https://www.emddi.com" style="font-weight:bold;letter-spacing:0px;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block" target="_blank">Đặt Xe Ngay</a>
				                                                </td>
				                                            </tr>
				                                        </tbody>
				                                    </table>
				                                </td>
				                            </tr>
				                        </tbody>
				                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
				                        <tbody>
				                            <tr>
				                                <td  style="min-width:100%;padding:25px 18px 35px">
				                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top-width:2px;border-top-style:solid;border-top-color:#eaeaea;border-collapse:collapse">
				                                        <tbody><tr>
				                                            <td>
				                                                <span></span>
				                                            </td>
				                                        </tr>
				                                    </tbody></table>

				                                </td>
				                            </tr>
				                        </tbody>
				                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%"  style="min-width:100%;border-collapse:collapse">
				                        <tbody>
				                            <tr>
				                                <td valign="top" style="padding-top:9px">



				                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
				                                        <tbody><tr>

				                                            <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">

				                                                <div style="text-align:center">
				                                                	<span style="color:rgb(221, 172, 87)"><span style="font-size:18px"><strong>Emddi hoạt động thế nào?</strong></span></span><br>
				                                                &nbsp;</div>

				                                            </td>
				                                        </tr>
				                                    </tbody></table>



				                                </td>
				                            </tr>
				                        </tbody>
				                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
				                        <tbody>
				                            <tr>
				                                <td valign="top" style="padding:9px">




				                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
				                                        <tbody><tr>
				                                            <td valign="top" style="padding:0 9px">
				                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
				                                                    <tbody><tr>
				                                                        <td valign="top">

				                                                            <!-- //hinh anh -->
				                                                            <a href="https://www.emddi.com">

				                                                                <img alt="" src="https://ci5.googleusercontent.com/proxy/dq2rKO1NaRCOKoddbOx0UfBnBtFRrphyCKVclErEhXgdWks7VwA6juVKk3lA83CMbBuRmY5N5j2d5SpUOTVdbrkLm24Te9PBkx5VF42hSIC3q8J1IFOS0fgYZVHfFJk=s0-d-e1-ft#https://grabtaxi-marketing.s3.amazonaws.com/email/welcome/ride-choose.png" width="176" style="max-width:200px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" >
				                                                            </a>


				                                                        </td>
				                                                    </tr>
				                                                </tbody></table>
				                                                <table align="right" border="0" cellpadding="0" cellspacing="0" width="352" style="border-collapse:collapse">
				                                                    <tbody><tr>
				                                                        <td valign="top" style="color:#666666;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:14px;font-style:normal;font-weight:normal;line-height:150%;text-align:left;word-break:break-word">
				                                                            <div style="text-align:left"><strong>Chọn lộ trình</strong></div>

				                                                            <div style="text-align:left">Bằng cách nhập Điểm đi và Điểm đến. Lựa chọn dịch vụ di chuyển theo ý muốn. Chúng tôi sẽ kết nối bạn với một tài xế được đào tạo và kiểm tra kĩ càng chỉ trong vài phút.</div>

				                                                        </td>
				                                                    </tr>
				                                                </tbody></table>
				                                            </td>
				                                        </tr>
				                                    </tbody></table>




				                                </td>
				                            </tr>
				                        </tbody>
				                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
				                        <tbody>
				                            <tr>
				                                <td valign="top" style="padding:9px">




				                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
				                                        <tbody><tr>
				                                            <td valign="top" class="m_-6311200793432550948m_1058014770364798065mcnCaptionRightContentInner" style="padding:0 9px">
				                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
				                                                    <tbody><tr>
				                                                        <td valign="top">


				                                                            <a href="https://www.emddi.com">

				                                                                <img alt="" src="https://ci6.googleusercontent.com/proxy/sultq_hrfnb1Syz8t_-AmQ3h4ESlHm9L4HkJgxx2g8rL2AyYcv4OYL9K742o2XXcLGb-2L7jAHaoPqEEjjGWo00Yz1PKzS7_KUsW_FzBMP7gwPlzIHoIZSQX8o-Zew=s0-d-e1-ft#https://grabtaxi-marketing.s3.amazonaws.com/email/welcome/ride-enjoy.png" width="176" style="max-width:200px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" >
				                                                            </a>


				                                                        </td>
				                                                    </tr>
				                                                </tbody></table>
				                                                <table align="right" border="0" cellpadding="0" cellspacing="0" width="352" style="border-collapse:collapse">
				                                                    <tbody><tr>
				                                                        <td valign="top" style="color:#666666;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:14px;font-style:normal;font-weight:normal;line-height:150%;text-align:left;word-break:break-word">
				                                                            <div style="text-align:left"><strong>Tận hưởng chuyến đi </strong><br>
				                                                            Bạn muốn được thoải mái với dịch vụ “xe ô tô riêng" đưa đón tận nơi? Hãy chọn EmddiCar nhé! Hay bạn muốn di chuyển tiện lợi với dịch vụ xe 2 bánh? Có EmddiMoto đây rồi! Còn muốn đặt xe taxi từ các hãng quen thuộc của bạn? Chọn EmddiTaxi thôi.</div>

				                                                        </td>
				                                                    </tr>
				                                                </tbody></table>
				                                            </td>
				                                        </tr>
				                                    </tbody></table>




				                                </td>
				                            </tr>
				                        </tbody>
				                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
				                        <tbody>
				                            <tr>
				                                <td valign="top" style="padding:9px">




				                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
				                                        <tbody><tr>
				                                            <td valign="top" class="m_-6311200793432550948m_1058014770364798065mcnCaptionRightContentInner" style="padding:0 9px">
				                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
				                                                    <tbody><tr>
				                                                        <td valign="top">


				                                                            <a href="https://www.emddi.com">


				                                                                <img alt="" src="https://ci3.googleusercontent.com/proxy/QD5VeAffen4_ljk40ZnnxTqmUWPR8Onc19IpoKJjxpjQHO7rQetxVtNUAo8WPT-c4hWLlfAM9WYd7sREufohOeyAJZiSmodVV4QLSkIO18WTp5DnEkBCpTHDVJo=s0-d-e1-ft#https://grabtaxi-marketing.s3.amazonaws.com/email/welcome/ride-pay.png" width="176" style="max-width:200px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" >
				                                                            </a>


				                                                        </td>
				                                                    </tr>
				                                                </tbody></table>
				                                                <table align="right" border="0" cellpadding="0" cellspacing="0" width="352" style="border-collapse:collapse">
				                                                    <tbody><tr>
				                                                        <td valign="top" style="color:#666666;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:14px;font-style:normal;font-weight:normal;line-height:150%;text-align:left;word-break:break-word">
				                                                            <div style="text-align:left"><strong>Thanh toán chuyến đi</strong><br>
				                                                            Chúng tôi có hình thức thanh toán qua tiền mặt, thẻ credit hoặc debit quốc tế (Có logo MasterCard hoặc Visa). Bạn có thể quyết định hình thức thanh toán phù hợp khi đặt xe. Sau khi kết thúc lộ trình, chúng tôi sẽ gửi một hoá đơn điện tử qua email của bạn. Thanh toán đơn giản và dễ dàng lắm nhé.</div>

				                                                        </td>
				                                                    </tr>
				                                                </tbody></table>
				                                            </td>
				                                        </tr>
				                                    </tbody></table>

				                                </td>
				                            </tr>
				                        </tbody>
				                    </table></td>
				            </tr>
				            <!-- // WIDTH 30PX -->
				            <tr>
				                    <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0">

				                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="200" style="border-collapse:collapse">
				                            <tbody><tr>
				                                <td valign="top"></td>
				                            </tr>
				                        	</tbody>
				                        </table>

				                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="200" style="border-collapse:collapse">
				                            <tbody>
				                            <tr>
				                                <td valign="top"></td>
				                            </tr>
				                       		 </tbody>
				                       	</table>

				                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="200" style="border-collapse:collapse">
				                            <tbody>
				                          	<tr>
				                                <td valign="top"></td>
				                            </tr>
				                        	</tbody>
				                        </table>

				                    </td>
				            </tr>
			                <!-- table row tao khoang cach -->
				            <tr>
				                    <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px">

				                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="300" style="border-collapse:collapse">
				                            <tbody><tr>
				                                <td valign="top"></td>
				                            </tr>
				                        	</tbody>
				                        </table>

				                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="300" style="border-collapse:collapse">
				                            <tbody>
				                            <tr>
				                                <td valign="top"></td>
				                            </tr>
				                        	</tbody>
				                        </table>

				                    </td>
				            </tr>
				            <!-- //PHAN CHUA NOI DUNG GROUP EMDDI -->
			               	<tr>
			                    <td valign="top" style="background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
			                        <tbody>
			                            <tr>
			                                <td valign="top">
			                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#fafafa" style="border-collapse:collapse">
			                                        <tbody>
			                                            <tr>
			                                                <td height="40"><img style="display:block;border:0;height:auto;outline:none;text-decoration:none" src="https://ci6.googleusercontent.com/proxy/-3P-ga7hKDJyq44KoHlGTf7-dx4sJl5CAD2NTRRczVU455Z9DVZi0hMkg1x5FCdUnxdz8oFZUTleCioqfloB4vCt4P9486aRCFa451lDyeT-3ZhLNEyMe36siK-bcLs=s0-d-e1-ft#https://myteksi.s3.amazonaws.com/email_images/marketing_images/_blank.gif" alt="" width="10" height="40" border="0" class="CToWUd"></td>
			                                            </tr><tr>
			                                              <td valign="top" width="45"></td>
			                                              <td valign="top" style="font-family:'Helvetica',Arial,sans-serif;color:#000000;font-size:11px">
			                                                  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
			                                                      <tbody><tr>
			                                                        <td align="left" style="font-family:'Helvetica',Arial,sans-serif;text-align:center">

			                                                        </td>
			                                                    </tr>

			                                                    <tr>
			                                                        <td align="left" style="font-family:'Helvetica',Arial,sans-serif;text-align:center">
			                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
			                                                                <tbody><tr>
			                                                                  <td width="55%" align="left" valign="top" class="m_-6311200793432550948m_1058014770364798065produceTdLast" style="font-family:'Helvetica',Arial,sans-serif;color:#666666;padding-right:10%">
			                                                                      <span style="color:#666666"> <a href="mailto:support.hcm@grab.com" style="font-size:10px;line-height:12px;font-weight:bold;color:#666666" target="_blank">© EMDDI GROUP 2017</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#m_-6311200793432550948_m_1058014770364798065_" style="font-size:10px;font-weight:bold;color:#666666">(08) 7108 7108</a></span><br><br>
			                                                                      <span style="font-size:10px;font-weight:normal">Emddi Việt Nam<br>
			                                                                        <br>
			                                                                    </span>
			                                                                </td>
			                                                            </tr>
			                                                        </tbody></table>
			                                                    </td>
			                                                </tr>
			                                                <tr>
			                                                    <td height="30"></td>
			                                                </tr>


			                                            </tbody></table></td>
			                                            <td valign="top" width="45"></td>
			                                        </tr>
			                                    </tbody></table>
			                                </td>
			                            </tr>
			                        </tbody>
			                    </table></td>
			                </tr>
			            </tbody>
			        	</table>
			        </td>
	            </tr>
            </tbody>
        </table>
	</div>
</body>
</html>